django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
django-extensions
python-decouple
Pillow
twilio
celery
redis
cloudinary
django-cloudinary-storage
channels
channels-redis
daphne
