Django==6.0.1
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.7.0
django-filter==25.2
django-storages==1.14.6
django-celery-beat==2.9.0
django_celery_results==2.6.0
django-timezone-field==7.2.1
drf-yasg==1.21.15
celery==5.6.2
redis==7.1.0
kombu==5.6.2
gunicorn
dj-database-url
whitenoise
psycopg2-binary
python-decouple
Pillow
boto3
EOF
